@using TaskScheduler
@model IEnumerable<TaskScheduler.TaskInfo>

    @{
        Layout = null;
    }

    <!DOCTYPE HTML>

    <html>
    <head>
        <title>Task Scheduler</title>
        <link rel="stylesheet" type="text/css" href="~/Content/style.css">
    </head>
    <body>
        <h2 class="title">Task Scheduler Information Panel</h2>
        <div class="TaskPanel">
            @foreach (var item in Model)
{
    <div class="task">
        <div class="Taskheader">
            <div class="TaskOnOffSwitch">
                @if (item.Status == TaskStatus.Enabled)
                {
                    <p class="TaskOn">ON</p>
                }
                else
                {
                    <p class="TaskOff">OFF</p>
                }
            </div>
            <div class="tasktitle">@item.Name</div>  

            
            <div> Frequency: @item.Frequency </div>
        </div>
        <div> Last running On : @item.LastRunningOn</div>
        <div> Next Running On : @item.NextRunningOn</div>
        <div> Action type: @item.TaskCommandType (@item.TaskCommandParameters)</div>
        <div> Response status: @item.ResponseStatus.ToString()</div>
    </div>
}
        </div>
    </body>
</html>
